{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
function f2()
{
var fname=document.getElementById("f_name");
var lname=document.getElementById("l_name");
var add=document.getElementById("address");
var country=document.getElementById("country");
var state=document.getElementById("state");
var city=document.getElementById("city");
var landmark=document.getElementById("landmark");
var phone=document.getElementById("alternate_phone");
var pin=document.getElementById("pin");
if(fname.value=="")
{
alert("you must enter name");
fname.focus();
fname.style.border="3px solid red";
exit();
}
if(!isNaN(fname.value))
{
alert("you must enter valid firts name");
fname.focus();
fname.value="";
fname.style.border="3px solid red";
exit();
}
if(lname.value=="")
{
alert("you must enter name");
lname.focus();
lname.style.border="3px solid red";
exit();
}
if(!isNaN(lname.value))
{
alert("you must enter valid last name");
lname.focus();
lname.value="";
lname.style.border="3px solid red";
exit();
} 
if(phone.value.length!=10)
{
alert("you must enter a valid phone no.");
phone.focus();
phone.value="";
phone.style.border="3px solid red";
exit();
}
if(phone.value=="")
{
alert("you must enter phone no.");
phone.focus();
phone.style.border="3px solid red";
exit();
}
if(isNaN(phone.value))
{
alert("you must enter valid phone no.");
phone.focus();
phone.value="";
phone.style.border="3px solid red";
exit();
}
if(pin.value=="")
{
alert("you must enter your pin");
pin.focus();
pin.style.border="3px solid red";
exit();
}
if(isNaN(pin.value))
{
alert("you must enter valid pin");
pin.focus();
pin.value="";
pin.style.border="3px solid red";
exit();
}
document.getElementById("ff3").submit();
}
</script>
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Account Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="#">Account</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="heading"><h2>Personal Details</h2></div>
					<form name="form3" id="ff3" method="POST" action="{% url 'details1' %}">
					 {% csrf_token %} 
					 	<div class="form-group">
							<input type="hidden" class="form-control" placeholder="First Name :" name="user" id="user" value={{user}}>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name :" name="f_name" id="f_name" value="{{details.f_name}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name :" name="l_name" id="l_name" value="{{details.l_name}}" required>
						</div>
						<!-- <div class="form-group"><font color="black"><b>Address type:</b></font> 
							<select name="address_type" required>
								<option value="home">Home</option>
								<option value="office">Office</option>
								<option value="friend">Friend's</option>
							</select>
						</div>-->
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Address:" name="address" id="address" value="{{details.address}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Country:" name="country" id="country" value="{{details.country}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="State :" name="state" id="state" value="{{details.state}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="City:" name="city" id="city" value="{{details.city}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="PIN:" name="pin" id="pin" value="{{details.pin}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Landmark :" name="landmark" id="landmark" value="{{details.landmark}}" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Alternate Phone :" name="alternate_phone" id="alternate_phone" value="{{details.alternate_phone}}" required>
						</div>
						<button type="button" class="btn btn-1" onclick="f2()">Save</button>
					</form>
			</div>
		</div>
	</div>
{% endblock %}
