{% extends 'base.html'%}
{% block content %}
{% load static %}
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Product Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="#">Category</a></li>
						<li><a href="#">Product</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="col-md-8">
					<div class="product">
						<div class="col-md-6">
							<div class="image">
								<img src="{{obj.photo.url}}"/>
								<div class="image-more">
									 <ul class="row">
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="{{obj.photo.url}}"><img class="img-responsive" src="{{obj.photo.url}}"></a>
										</li>
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="{{obj.photo_1.url}}"></a>
										</li>
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="{{obj.photo_2.url}}"></a>
										</li>
										{% if obj.photo_3 %}
										<li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="{{obj.photo_3.url}}"></a>
										</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="caption">
								<div class="name"><h3>{{obj.name}}</h3></div>
								<div class="info">
									<ul>
										<li>{{obj.title}}</li>
										{% if mobile %}
										<li>Brand:{{mobile.brand}}</li>
										{% endif %}
										{% if laptop %}
										<li>Brand:{{laptop.brand}}</li>
										{% endif %}
										{% if tv %}
										<li>Brand:{{tv.brand}}</li>
										{% endif %}
										{% if watch %}
										<li>Brand:{{watch.brand}}</li>
										{% endif %}
									</ul>
								</div>
								<div class="price">Rs.{{obj.price}}</div>
								<!--<div class="options">
									AVAILABLE OPTIONS
									<select>
										<option value="" selected>----Please Select----</option>
										<option value="red">RED</option>
										<option value="black">BLACK</option>
									</select>
								</div>-->
								<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								<div class="buttons">
									<a class="btn cart" href="{%url 'addc'  obj.id %}"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
									<!--<a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>-->
									<a class="btn compare" href="{%url 'addcom'  obj.id %}"><span class="glyphicon glyphicon-transfer"></span></a>
								</div>
								<!--<div class="well"><label>Qty: </label> <input class="form-inline quantity" type="text" value="1"><a href="#" class="btn btn-2 ">ADD</a></div>-->
								<!--<div class="share well">
									<strong style="margin-right: 13px;">Share :</strong>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</div>-->
							</div>
						</div>
						<div class="clear"></div>
					</div>	
					<div class="product-desc">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#description">Description</a></li>
							<li><a href="#review">Review</a></li>
						</ul>

						<div class="tab-content">
							{% if mobile %}
							<div id="description" class="tab-pane fade in active">
								<h4>FEATURES</h4>
								<table width="100%" border="4">
									<tr>
										<td>Brand:</td>
										<td>{{mobile.brand}}</td>
									</tr>
									<tr>
										<td>Display:</td>
										<td>{{mobile.display}}</td>
									</tr>
									<tr>
										<td>Rear Camera:</td>
										<td>{{mobile.rear_camera}}</td>
									</tr>
									<tr>
										<td>Front Camera:</td>
										<td>{{mobile.front_camera}}</td>
									</tr>
									<tr>
										<td>Processor:</td>
										<td>{{mobile.processor}}</td>
									</tr>
									<tr>
										<td>Android Version:</td>
										<td>{{mobile.and_ver}}</td>
									</tr>
									<tr>
										<td>Battery:</td>
										<td>{{mobile.battery}}</td>
									</tr>
									<tr>
										<td>Warranty:</td>
										<td>{{mobile.warranty}}</td>
									</tr>
									<tr>
										<td>RAM:</td>
										<td>{{mobile.ram}}</td>
									</tr>
									<tr>
										<td>ROM(Storage):</td>
										<td>{{mobile.rom}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>Rs{{mobile.price}}</td>
									</tr>
								</table>
							</div>
							{% endif %}
							{% if laptop %}
							<div id="description" class="tab-pane fade in active">
								<h4>FEATURES</h4>
								<table width="100%" border="4">
									<tr>
										<td>Brand:</td>
										<td>{{laptop.brand}}</td>
									</tr>
									<tr>
										<td>SSD:</td>
										<td>{{laptop.ssd}}</td>
									</tr>
									<tr>
										<td>HHD:</td>
										<td>{{laptop.hdd}}</td>
									</tr>
									<tr>
										<td>RAM:</td>
										<td>{{laptop.ram}}</td>
									</tr>
									<tr>
										<td>Graphic Card:</td>
										<td>{{laptop.graphic_card}}</td>
									</tr>
									<tr>
										<td>Processor:</td>
										<td>{{laptop.processor}}</td>
									</tr>
									<tr>
										<td>Graphic Memory:</td>
										<td>{{laptop.graphic_memory}}</td>
									</tr>
									<tr>
										<td>Warranty:</td>
										<td>{{laptop.warranty}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>Rs{{laptop.price}}</td>
									</tr>
								</table>
							</div>
							{% endif %}
							{% if tv %}
							<div id="description" class="tab-pane fade in active">
								<h4>FEATURES</h4>
								<table width="100%" border="4">
									<tr>
										<td>Brand:</td>
										<td>{{tv.brand}}</td>
									</tr>
									<tr>
										<td>Dimensions:</td>
										<td>{{tv.dimensions}}</td>
									</tr>
									<tr>
										<td>Display:</td>
										<td>{{tv.display}}</td>
									</tr>
									<tr>
										<td>HDMI:</td>
										<td>{{tv.hdmi}}</td>
									</tr>
									<tr>
										<td>USB:</td>
										<td>{{tv.usb}}</td>
									</tr>
									<tr>
										<td>Sound Output:</td>
										<td>{{tv.sound_output}}</td>
									</tr>
									<tr>
										<td>Smart Tv:</td>
										<td>{{tv.smart_tv}}</td>
									</tr>
									<tr>
										<td>Built in Wifi:</td>
										<td>{{tv.build_in_wifi}}</td>
									</tr>
									<tr>
										<td>Youtube Support:</td>
										<td>{{tv.youtube_support}}</td>
									</tr>
									<tr>
										<td>Netflix Support:</td>
										<td>{{tv.netflix_support}}</td>
									</tr>
									<tr>
										<td>Refresh Rate:</td>
										<td>{{tv.refresh_rate}}</td>
									</tr>
									<tr>
										<td>Tv Type:</td>
										<td>{{tv.tv_type}}</td>
									</tr>
									<tr>
										<td>Warranty:</td>
										<td>{{tv.warranty}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>Rs{{tv.price}}</td>
									</tr>
								</table>
							</div>
							{% endif %}
							{% if watch %}
							<div id="description" class="tab-pane fade in active">
								<h4>FEATURES</h4>
								<table width="100%" border="4">
									<tr>
										<td>Brand:</td>
										<td>{{watch.brand}}</td>
									</tr>
									<tr>
										<td>Dial Shape:</td>
										<td>{{watch.dial_shape}}</td>
									</tr>
									<tr>
										<td>Water Resistant:</td>
										<td>{{watch.water_resistance}}</td>
									</tr>
									<tr>
										<td>Strap Material:</td>
										<td>{{watch.strap_material}}</td>
									</tr>
									<tr>
										<td>Dimensions:</td>
										<td>{{watch.dimensions}}</td>
									</tr>
									<tr>
										<td>Charge Time:</td>
										<td>{{watch.charge_time}}</td>
									</tr>
									<tr>
										<td>Battery Life:</td>
										<td>{{watch.battery_life}}</td>
									</tr>
									<tr>
										<td>Call Function:</td>
										<td>{{watch.call_function}}</td>
									</tr>
									<tr>
										<td>Wifi:</td>
										<td>{{watch.wifi}}</td>
									</tr>
									<tr>
										<td>GPS:</td>
										<td>{{watch.gps}}</td>
									</tr>
									<tr>
										<td>Sensor:</td>
										<td>{{watch.sensor}}</td>
									</tr>
									<tr>
										<td>Price:</td>
										<td>Rs{{watch.price}}</td>
									</tr>
								</table>
							</div>
							{% endif %}
							<div id="review" class="tab-pane fade in active">
							  <div class="review-text">
								<br>
								<br>
							  </div>
							  <div class="review-form">
								<h4>Write a review</h4>
								<form name="form1" id="ff" method="post" action="{%url 'review'  obj.id %}">{% csrf_token %} 
									<label>
									<span>Enter your name:</span>
									<input type="text"  name="name" id="name" required>
									</label>
									<span>Rating:</span><br><br>
										
										<div class="rating">
											<font size="16" color="black">1</font><input type="radio" name="rating" id="r1" value="1">&nbsp&nbsp&nbsp
											<font size="16" color="black">2</font><input type="radio" name="rating" id="r1" value="2">&nbsp&nbsp&nbsp
											<font size="16" color="black">3</font><input type="radio" name="rating" id="r1" value="3">&nbsp&nbsp&nbsp
											<font size="16" color="black">4</font><input type="radio" name="rating" id="r1" value="4">&nbsp&nbsp&nbsp
											<font size="16" color="black">5</font><input type="radio" name="rating" id="r1" value="5">&nbsp&nbsp&nbsp
										</div>
									<label>
									<span>Your message here:</span>
									<textarea name="message" maxlength="250" id="message"></textarea>
									</label>
									<div class="text-right">
										<input class="btn btn-default" type="reset" name="reset" value="Reset">
										<input class="btn btn-default" type="submit" name="Submit" value="Submit">
									</div>
									<label>
									{% if review %}
									<span>Other Users Review:</span>
									{% for rev in review %}
									<label><font color="blavk">{{rev.name}}:</font>&nbsp&nbsp&nbsp&nbsp {{rev.message}} &nbsp&nbsp&nbsp&nbsp 
									Rating:&nbsp<font color="black">{{rev.rating}}</font>
									</label>
									
									<hr size="100">
									{% endfor %}
									</label>

									{% endif %}
								</form>
							  </div>
							</div>
						</div>
					</div>

		
					<div class="product-related">
						<div class="heading"><h2>RELATED PRODUCTS</h2></div>
						<div class="products">

							{% for object in related %}
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="product">
								<div class="image"><a href="{%url 'details'  object.id %}"><img src="{{object.photo.url}}" height="200" width="200" /></a></div>
								
								<div class="caption">
									<div class="name"><h3><a href="{%url 'details'  object.id %}">{{ object.name }}</a></h3></div>
									<div class="price">Rs.{{object.price}}</div>
									<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								</div>
								<div class="buttons">
									<a class="btn cart" href="{%url 'addc'  object.id %}"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
									<a class="btn compare" href="{%url 'addcom'  object.id %}"><span class="glyphicon glyphicon-transfer"></span></a>
									<!--<a class="btn compare updatebutton" object_id="{{object.id}}"><span class="glyphicon glyphicon-transfer"></span></a>-->
									<!--<a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
									<a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>-->
								</div>
							</div>
						</div>
						{% endfor %}
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="sidebar" class="col-md-4">
					<div class="widget wid-categories">
						<div class="heading"><h4>CATEGORIES</h4></div>
						<div class="content">
							<ul>
								<li><a href="{% url 'tv' %}">Tv</a></li>
								<li><a href="{% url 'laptop' %}">Laptops</a></li>
								<li><a href="{% url 'mobile' %}">Mobiles</a></li>
								<li><a href="{% url 'watch' %}">Watches</a></li>
							</ul>
						</div>
					</div>
					<!--<div class="widget wid-type">
						<div class="heading"><h4>TYPE</h4></div>
						<div class="content">
							<select>
								<option value="EL" selected>Electronics</option>
								<option value="MT">Mice and Trackballs</option>
								<option value="WC">Web Cameras</option>
								<option value="TA">Tablates</option>
								<option value="AP">Audio Parts</option>
							</select>
						</div>
					</div>
					<div class="widget wid-discouts">
						<div class="heading"><h4>DISCOUNTS</h4></div>
						<div class="content">
							<label class="checkbox"><input type="checkbox" name="discount" checked="">Upto - 10% (20)</label>
							<label class="checkbox"><input type="checkbox" name="discount">40% - 50% (5)</label>
							<label class="checkbox"><input type="checkbox" name="discount">30% - 20% (7)</label>
							<label class="checkbox"><input type="checkbox" name="discount">10% - 5% (2)</label>
							<label class="checkbox"><input type="checkbox" name="discount">Other(50)</label>
						</div>
					</div>
					<div class="widget wid-brand">
						<div class="heading"><h4>BRAND</h4></div>
						<div class="content">
							<label class="checkbox"><input type="checkbox" name="brand">Nokia</label>
							<label class="checkbox"><input type="checkbox" name="brand">Samsung</label>
							<label class="checkbox"><input type="checkbox" name="brand">Iphone</label>
							<label class="checkbox"><input type="checkbox" name="brand">HTC</label>
							<label class="checkbox"><input type="checkbox" name="brand">Oppo</label>
							<label class="checkbox"><input type="checkbox" name="brand">Kings</label>
							<label class="checkbox"><input type="checkbox" name="brand">Zumba</label>	
						</div>
					</div>
					<div class="widget wid-product">
						<div class="heading"><h4>LATEST</h4></div>
						<div class="content">
							<div class="product">
								<a href="#"><img src=" {% static 'images/galaxy-note.jpg' %}" /></a>
								<div class="wrapper">
									<h5><a href="#">Samsung Galaxy Tab</a></h5>
									<div class="price">$122</div>
									<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								</div>
							</div>
							<div class="product">
								<a href="#"><img src="{% static 'images/galaxy-s4.jpg' %}" /></a>
								<div class="wrapper">
									<h5><a href="#">Samsung Galaxy Tab</a></h5>
									<div class="price">$122</div>
									<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								</div>
							</div>
							<div class="product">
								<a href="#"><img src="{% static 'images/Z1.png' %}" /></a>
								<div class="wrapper">
									<h5><a href="#">Samsung Galaxy Tab</a></h5>
									<div class="price">$122</div>
									<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								</div>
							</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>	
	
{%endblock%}
